.frequently-ordered {
    margin: 24px 0;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .items-container {
    display: flex;
    overflow-x: auto;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
  }
  
  .item-image {
    width: 76px;
    height: 76px;
    border-radius: 8px;
  }
  
  .item-name {
    color: #9E9EA8;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .item-price {
    font-size: 18px;
    font-weight: bold;
  }
  