.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 10px;
  }
  
  .back-icon {
    font-size: 24px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  