.total-bill {
    margin: 16px 0;
    padding: 16px;
    background-color: #FEF3F0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .total {
    font-size: 18px;
    font-weight: bold;
  }
  